.movie-carousel-container {
    width: 100vw;
    background-color: #121212;
}

.movie-poster{
    height: 400px;
    border: 1px solid #ff7f50;
    border-radius: 15px;
    overflow: hidden;
}

.movie-poster > img{
    height: 100%;
    width: 100%;
}

.movie-card-container {
    height: 90vh;
    background-color: #121212;
}

.movie-card {
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(18, 18, 18, 1)), var(--img);
    
}

.movie-detail {
    position: absolute;
    top: 250px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.movie-title {
    color: white;
    display: flex;
    align-items: center;
}

.movie-buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
}

.play-button-icon-container {
    padding: 0px;
    margin: 0px;
    width: 150px;
}

.play-button-icon {
    padding: 0px;
    margin: 0px;
    color: #ff6347;
    font-size: 3.6rem;
    transition: 0.3s;
    cursor: pointer;
}

.play-button-icon:hover {
    transform: scale(1.25);
    color: #ff7f50;
}

.custom-review-button {
    background: linear-gradient(
        92.23deg,
        #ff6347 21.43%, /* Tomato Red */
        #fc4a0a 50.63%, /* Deep Orange-Red */
        #ff7f50 100% /* Coral Orange */
    ) !important;
    color: white !important;
    font-size: 1.3rem !important;
    border: none !important;
    border-radius: 30px !important;
    padding: 0.5em 1.4rem !important;
    transition: 0.3s !important;
}

.custom-review-button:hover {
    background: linear-gradient(
        92.23deg,
        #ff7f50 21.43%, /* Coral Orange */
        #fc4a0a 50.63%, /* Deep Orange-Red */
        #ff6347 100% /* Tomato Red */
    ) !important;
    transform: scale(1.15);
}

@media only screen and (max-width: 800px) {
    .movie-detail {
        flex-direction: column;
        align-items: center;
        top: 60px;
    }
    .movie-title {
        padding-top: 30px;
    }
    .movie-buttons-container  {
        padding-top: 20px;
    }
}